<div id='sidebar'>

	<div id='penrose'         class='penrose_ok'        ng-model='penrose'></div>

	<div id='line1'           class='side_separator'></div>
	<div id='btn_dashboard'   class='side_button focus' ng-model='radioModelTODO'></div>

	<div id='line2'           class='side_separator'></div>
	<div id='btn_code'        class='side_button'       ng-model='radioModelTODO'></div>
	<div id='btn_platform'    class='side_button'       ng-model='radioModelTODO'></div>
	<div id='btn_kernel'      class='side_button'       ng-model='radioModelTODO'></div>

	<div id='line3'           class='side_separator'></div>
	<div id='btn_performance' class='side_button'       ng-model='radioModelTODO'></div>
	<div id='btn_datainteg'   class='side_button'       ng-model='radioModelTODO'></div>
	<div id='btn_security'    class='side_button'       ng-model='radioModelTODO'></div>

	<div id='line4'           class='side_separator'></div>
	<div id='btn_admin'       class='side_button'       ng-model='radioModelTODO'></div>
	<div id='btn_backup'      class='side_button'       ng-model='radioModelTODO'></div>
	<div id='btn_clean'       class='side_button'       ng-model='radioModelTODO'></div>

	<div id='line5'           class='side_separator'></div>
	<div id='btn_helpdesk'                              ng-model='radioModelTODO'></div>